@model IEnumerable<EMarkting.Models.Product>

@{
    ViewBag.Title = "Ads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ads</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_T.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            
            <img src="~/ImgUpload/@item.Image"  width="40px" height="40px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_T.Name)
        </td>
        <td>
            @Html.ActionLink("View It ", "AdSpecfic", "UserCon",new { id=item.Id }, new { @class=""}) 

        </td>
    </tr>
}

</table>
